.button {
  &.button-large {
    font-size: 1.25 * map-get($button-sizes, large);
    font-weight: $global-weight-bold;
    padding: 0.625 * $global-padding 1.5 * $global-padding;
    text-transform: lowercase;
  }
  &.button-right {
    display: block;
    float: right;
  }
  &.button-round {
    border-radius: 2 * $global-padding;
  }
  &.button-small {
    font-size: map-get($button-sizes, default) !important;
    font-weight: $global-weight-bold;
    padding: 0.5 * $global-padding 0.875 *$global-padding;
  }
}
