.sas-hero {

  &-slide {
    background: transparent no-repeat center center;
    background-size: cover;
    text-shadow: 0 0 2px transparentize($white, 0.35);

    &-caption {
      @include xy-cell(12);
      z-index: 10;

      @include breakpoint(medium) {
        @include xy-cell(10);

      }
      @include breakpoint(xlarge) {
        @include xy-cell(8);
      }

      h1 {
        font-size: 3.25rem;
      }

      h2 {
        font-size: 3rem;
      }

      h3 {
        font-size: 2.75rem;
      }

      h4 {
        font-size: 2rem;
      }

      h5,
      p {
        font-size: 1.75rem;
      }

      h6 {
        font-size: 1.5rem;
      }
    }

    &-container {
      @include xy-grid;
      @extend .main-container;
      padding-top: 5rem;
      padding-bottom: 5rem;

      &:after {
        bottom: 0;
        content: '';
        background: transparentize($white, 0.9);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .slick-dots {
    @extend .menu;
    @extend .align-center;

    li {
      @extend .orbit-bullets;

      button {
        border: 2px solid $white;
        color: transparent;
      }

      &.slick-active {
        button {
          background: $green;
        }
      }
    }

    @include breakpoint(large) {
      flex-direction: column;
      position: absolute;
      right: 2.5rem;
      top: 4rem;
      width: 2rem;

      li {
        margin: 0;
      }
    }
  }
}
