BUCKETEER_AWS_ACCESS_KEY_ID=REPLACEME
BUCKETEER_AWS_REGION=REPLACEME
BUCKETEER_AWS_SECRET_ACCESS_KEY=REPLACEME
BUCKETEER_BUCKET_NAME=REPLACEME
SENDGRID_PASSWORD=REPLACEME
SENDGRID_USERNAME=REPLACEME
WORDPRESS_AUTH_KEY=REPLACEME
WORDPRESS_AUTH_SALT=REPLACEME
WORDPRESS_LOGGED_IN_KEY=REPLACEME
WORDPRESS_LOGGED_IN_SALT=REPLACEME
WORDPRESS_NONCE_KEY=REPLACEME
WORDPRESS_NONCE_SALT=REPLACEME
WORDPRESS_SECURE_AUTH_KEY=REPLACEME
WORDPRESS_SECURE_AUTH_SALT=REPLACEME
