.content {
  &--post {
    &-container {
      @include xy-grid;
      margin-bottom: 2.5 * $global-padding;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include breakpoint(medium) {
        justify-content: center;
      }

      .single-post & {
        min-height: 10rem;
        padding-top: 2.5 * $global-padding;
      }
    }
    &-content {
      @include xy-cell(12);

      @include breakpoint(medium) {
        @include xy-cell(10);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(9);
      }

      &--image {
        @extend .bg-cover;
        margin-bottom: 1.75 * $global-padding;

        &:after {
          content: '';
          display: block;
          padding-bottom: 34%;
        }

        &-default {
          @extend .hide-for-medium;
          background: $red no-repeat center center;
          background-size: contain;
        }
      }
      &--meta {
        font-weight: $global-weight-medium;

        a {
          @extend .link-primary;
        }
      }
      &--title {
        @extend .text-uppercase;
        color: $primary-color;
        font-weight: $global-weight-bold;
        margin-bottom: 0;

        a {
          @extend .link-primary;
        }
      }
    }
    &-date {
      @include xy-cell(4);
      margin-bottom: -2.5 * $global-padding;

      .single & {
        margin-bottom: 2.5 * $global-padding;

        @include breakpoint(medium) {
          margin-bottom: -2.5 * $global-padding;
        }
      }

      @include breakpoint(medium) {
        @include xy-cell(2);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(1);
      }

      time {
        background: white;
        border: 1px solid;
        border-color: transparent $light-lighter-gray $light-lighter-gray transparent;
        display: block;
        padding-top: 0.5 * $global-padding;
        position: relative;

        .time {
          &-date {
            display: block;
            font-size: 2.625 * $global-font-size;
            font-weight: $global-weight-medium;
            letter-spacing: -3px;
            line-height: 1;
            margin: 0 auto .75rem;
            text-align: center;
          }
          &-month {
            @extend .text-uppercase;
            display: block;
            font-size: 1.25 * $global-font-size;
            font-weight: $global-weight-light;
            line-height: 1;
            text-align: center;
          }
          &-year {
            display: block;
            font-size: 1.25 * $global-font-size;
            font-weight: $global-weight-light;
            line-height: 1;
            margin-bottom: -1.75rem;
            text-align: center;
          }
        }
        &:after {
          border-right: 1px solid $light-lighter-gray;
          bottom: -1rem;
          content: '';
          display: block;
          height: 1rem;
          position: absolute;
          right: -1px;
          width: 0;
        }

        @include breakpoint(medium) {
          background: transparent;
        }
      }
    }
    &-link {
      @include xy-grid;
      @extend .align-center;

      &--container {
        @include xy-cell(12);

        @include breakpoint(medium) {
          @include xy-cell(10);
        }
      }
    }
    &-related {
      @include xy-grid;
      @extend .align-center;

      &--content {
        @include xy-cell(12);

        @include breakpoint(medium) {
          @include xy-cell(10);
        }
      }
      &--image {
        @include xy-cell(12);
        @extend .bg-cover;
        margin-bottom: 1rem;
        min-height: 10rem;

        @include breakpoint(medium) {
          @include xy-cell(4);
        }

        + .content--post-related--content {
          @include breakpoint(medium) {
            @include xy-cell(6);
          }
        }
      }
    }
    &-social {
      padding: 2 * $global-padding 0;
      @include xy-grid;
      @extend .align-center;

      .addtoany_shortcode {
        @include xy-cell(12);

        @include breakpoint(medium) {
          @include xy-cell(10);
        }
      }

      .addtoany_list {
        @include xy-grid;

        a {
          @include xy-cell(12);
          @extend .button;
          @extend .button-small;
          @extend .button.secondary;
          @extend .text-uppercase;

          @include breakpoint(medium) {
            @include xy-cell(3);
          }

          .a2a {
            &_label {
              clip-path: none;
              height: auto;
              line-height: 1.1;
              overflow: unset;
              position: static !important;
              width: auto;
            }
            &_svg {
              display: none;
            }
          }

          &:before {
            content: 'Share ';
          }
        }
      }
    }
  }
}
