.flexible {
  padding-bottom: 5 * $global-padding;
  padding-top: 5 * $global-padding;

  &--books {
    @include xy-grid;
    @extend .align-center;

    h2 {
      @include xy-cell(10);
      @extend .header;
      color: $primary-color;
    }
    h3 {
      @include xy-cell(10);
      @extend .subheader;
      color: $primary-color;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
      @extend .align-stretch;
    }

    &--single {
      @include xy-cell(11);
      padding: 2rem 0;

      @include breakpoint(medium) {
        @include xy-cell(10);
      }

      @include breakpoint(large) {
        @include xy-cell(6);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(4);
      }

      a {
        @extend .align-middle;
        background: $primary-color;
        color: $white;
        display: flex;
        height: 100%;
        margin-left: 3.5rem;
        padding: 2rem;
        position: relative;

        &:after,
        &:before {
          background: $white;
          border: 3px solid $aqua-medium;
          content: '';
          height: 100%;
          position: absolute;
          right: 1rem;
          top: 1rem;
          width: 100%;
          z-index: -1;
        }

        &:before {
          right: 2rem;
          top: 2rem;
        }

        span {
          display: flex;
          flex-direction: column;
          font-size: 1.65 * $global-font-size;
          font-weight: $global-weight-bold;
          line-height: 1.1;
          text-align: center;
          width: 100%;

          small {
            @extend .text-uppercase;
            display: block;
            font-size: 0.65 * $global-font-size;
            font-weight: $global-weight-normal;
          }
        }
      }
    }
  }
  &--brochures {
    @include xy-grid;
    @extend .align-center;

    &:after,
    &:before {
      background: transparent url('../images/teal-bg-square.png') no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 2rem;
      width: 100%;
    }
    &:after {
      background-position: center right;
      margin-top: 0.5rem;
    }
    &:before {
      background-position: center left;
      margin-bottom: 0.5rem;
    }

    h2 {
      @include xy-cell(10);
      @extend .header;
      color: $primary-color;
    }

    h3 {
      @include xy-cell(10);
      @extend .subheader;
      color: $primary-color;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-spaced;
      @extend .align-stretch;
    }

    &--single {
      @include xy-cell(10);
      @extend .align-middle;
      @extend .text-center;
      background: $aqua-medium;
      margin-bottom: 1.75 * $global-padding;
      margin-top: 1.75 * $global-padding;
      padding: 2.5 * $global-padding $global-padding;

      a {
        @extend .header-white;
      }

      @include breakpoint(medium) {
        @include xy-cell(5);
      }
    }
  }
  &--columns {
    .main-grid {
      @include xy-grid;
      @extend .align-center;
    }

    h2 {
      @include xy-cell(12);
      @extend .h3;
      @extend .text-uppercase;
      margin-bottom: 1.5 * $global-padding;
      text-align: center;
    }

    &--container {
      @include xy-cell(12);
    }

    &--footer {
      @include xy-cell(12);
      margin-top: 3 * $global-padding;
      text-align: center;

      @include breakpoint(medium) {
        @include xy-cell(11);
      }

      @include breakpoint(large) {
        @include xy-cell(10);
      }

      h3 {
        margin-bottom: 1.5 * $global-padding;
        margin-top: 1.5 * $global-padding;
      }
    }

    &--single {
      @include xy-grid;
      @extend .align-center;
      @extend .align-middle;
      border-bottom: 1px solid $light-lighter-gray;

      &-content {
        @include xy-cell(12);
        font-size: 1.25 * $global-font-size;
        font-weight: $global-weight-medium;
        padding-bottom: 1.5 * $global-padding;
        padding-top: 1.5 * $global-padding;

        @include breakpoint(large) {
          @include xy-cell(8);
        }

        &--title {
          font-size: 3.5 * $global-font-size;
          font-weight: $global-weight-medium;
          letter-spacing: -2px;
          margin-bottom: 0;
        }
      }

      &-image {
        @include xy-cell(12);
        max-width: 20rem;
        padding: 1.5 * $global-padding;
        text-align: center;

        @include breakpoint(large) {
          @include xy-cell(4);
        }
      }

      &:nth-child(2n) {
        @include breakpoint(medium) {
          .flexible--columns--single-image {
            @extend .medium-order-2;
          }
        }
      }
    }
  }
  &--content {
    @include xy-grid;
    @extend .align-center;

    h2 {
      @include xy-cell(12);
      @extend .header;
      color: $primary-color;
    }
    h3 {
      @include xy-cell(12);
      @extend .subheader;
      color: $primary-color;
    }
  }
  &--cta {
    background: $green url('../images/green-bg_arrow.png') no-repeat center center;
    background-size: cover;

    h2 {
      @extend .header-white;
      margin-bottom: 2rem;
    }

    .button {
      background: $white;
      color: $primary-color;

      &:hover {
        background: darken($white, 5%);
        color: darken($primary-color, 5%);
      }
    }

    .main-grid {
      @include xy-grid;
      @extend .align-center;
      @extend .text-center;
    }

    &--container {
      @include xy-cell(10);
    }
  }
  &--directors {
    @include xy-grid;
    @extend .align-center;
    background: $light-gray;

    &--container {
      @include xy-grid;
      @include xy-cell(12);

      @include breakpoint(small only) {
        justify-content: center;
      }
    }
    &--single {
      @include xy-cell(9);
      padding-bottom: 1rem;
      padding-top: 1rem;

      @include breakpoint(large) {
        @include xy-cell(6);
      }

      > .flexible--directors--single-container {
        @include xy-grid;
        @extend .align-middle;
      }

      > a {
        @include xy-grid;
        @extend .align-middle;

        &:hover {
          .flexible--directors--single-image {
            background-color: $aqua-medium;
            background-image: none !important;

            &--hover {
              display: block;
            }
          }
        }
      }

      &-content {
        @include xy-cell(12);

        @include breakpoint(medium) {
          @include xy-cell(6);
        }

        @include breakpoint(large) {
          @include xy-cell(8);
        }

        h2 {
          line-height: 1.1;
          margin-bottom: 0.25rem;
          text-align: left;

          @include breakpoint(small only) {
            text-align: center;
          }

          @include breakpoint(medium) {
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }

        h3 {
          text-align: left;

          @include breakpoint(small only) {
            text-align: center;
          }
        }
      }
      &-image {
        @include xy-cell(12);
        background: transparent no-repeat center center;
        background-size: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
        position: relative;

        @include breakpoint(medium) {
          @include xy-cell(6);
        }

        @include breakpoint(large) {
          @include xy-cell(4);
        }

        &:after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }

        &--hover {
          @extend .text-uppercase;
          color: $primary-color;
          display: none;
          font-size: 0.75 * $global-font-size;
          font-weight: $global-weight-bold;
          height: auto;
          left: 50%;
          line-height: 1.2;
          max-width: 60%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translate(-50%, -50%);
          &:before {
            background: url('../images/email.png') no-repeat center center;
            background-size: contain;
            content: '';
            display: inline-block;
            padding-bottom: 30px;
            width: 100%;
          }
        }
      }
    }

    h2 {
      @include xy-cell(12);
      @extend .subheader;
      @extend .text-center;
      @extend .text-uppercase;
      color: $primary-color;
      font-weight: $global-weight-bold;
    }
    h3 {
      @extend .subheader;
      @extend .text-center;
      color: $primary-color;
      font-size: 1rem;
    }
  }
  &--donate {
    background: $green;

    .main-grid {
      @extend .align-center;
    }

    &--background {
      background: $white;
      border-radius: 1rem;
      height: 100%;
      margin: 0 auto;
      max-width: 30rem;
      padding: 2rem;
      text-align: center;
    }

    &--container {
      @include xy-cell;
      @include xy-grid;
      @extend .align-center;
      @extend .align-stretch;
    }

    &--footer {
      @include xy-grid;

      h3 {
        @include xy-cell;
        color: $white;
        font-weight: $global-weight-light;
        margin-bottom: 0;
        margin-top: 1.5 * $global-padding;
        text-align: center;
      }
    }

    &--single {
      @include xy-cell(12);
      margin-bottom: 2rem;

      @include breakpoint(medium) {
        @include xy-cell(11);
      }

      @include breakpoint(large) {
        @include xy-cell(6);
      }

      &-content {
        &--title {
          letter-spacing: 1.5px;
        }

        .sas-donate-form {
          margin: 0 auto;
          max-width: 100%;

          @include breakpoint(medium) {
            max-width: 80%;
          }

          &--accordion {
            @extend .accordion;

            &-item {
              @extend .accordion-item;
            }
          }
          &--button {
            @extend .button;
            @extend .button-round;
            @extend .button-large;
            @extend .button.primary;
            font-weight: $global-weight-medium;
            margin-top: 2rem;
            text-transform: capitalize;
          }
          &--credit-card {
            display: none;
          }
          &--error {
            display: none;
          }
          &--input-group {
            @extend .input-group;
            background: $light-gray;
            padding: $button-padding;

            &--field {
              @extend .input-group-field;
              background: transparent;
              border: 0 !important;
              border-bottom: 2px solid $primary-color !important;
              box-shadow: none;
              font-size: 2 * $global-font-size;
              line-height: 2.5rem;
              text-align: right;
              width: auto;

              &:focus {
                outline: 0;
              }

              @include placeholder {
                color: transparentize($primary-color, 0.25);
              }

            }
            &--label {
              @extend .input-group-label;
              border: 0 !important;
              border-bottom: 2px solid $primary-color !important;
              line-height: 2.5rem;
              padding: 0;

              &-cents {
                font-size: 2 * $global-font-size;
                padding: 0 0.25rem 0 0;

                @include breakpoint(medium) {
                  padding: 0 0.5rem 0 0;
                }
              }

              &-currency {
                font-size: 1.25 * $global-font-size;
                padding: 0 1rem 0 0.25rem;

                @include breakpoint(medium) {
                  padding: 0 1.75rem 0 0.5rem;
                }
              }

              &-symbol {
                font-size: 2 * $global-font-size;
                padding: 0 0 0 1rem;

                @include breakpoint(medium) {
                  padding-left: 1.75rem;
                }
              }
            }
          }
        }
        p {
          font-size: 1.2 * $global-font-size;
          line-height: 2;
        }
      }

      &-image {
        img {
          margin-bottom: 2.5rem;
          max-width: 20rem;
          width: 65%;
        }
      }
    }
  }
  &--events {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;

    &--after {
      .flexible--events--container {
        background: $white;
        border: 1px solid $light-lighter-gray;
        border-radius: 1rem;
        z-index: 100;
      }
    }

    &--container {
      @include xy-grid;
      @extend .align-center;
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;
    }

    &--footer {
      @include xy-cell;
      @extend .align-center;
      @extend .text-center;
      padding-top: 5 * $global-padding;

      .button {
        @extend .header;
        @extend .text-orange;
        @extend .text-uppercase;
        background: transparent;
        padding: 0;

        &:hover {
          color: $orange-medium;
        }
      }
    }

    &--single {
      @include xy-cell(10);
      border-bottom: 1px solid $aqua;
      color: $dark-gray;
      padding: 2.5rem 1rem;
      position: relative;
      text-align: center;

      @include breakpoint(medium) {
        @include xy-cell(5);
        border-bottom: 0;

        &:after {
          border-right: 1px solid $aqua;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          right: -0.5 * map-get($grid-margin-gutters, medium);
          top: 0;
        }

        &:last-child {
          &:after {
            border-right: 0;
          }
        }
      }

      @include breakpoint(medium only) {
        &:nth-child(2n) {
          &:after {
            border-right: 0;
          }
        }
      }

      @include breakpoint(large) {
        @include xy-cell(4);
      }

      h4 {
        @extend .subheader;
        color: $primary-color;
        font-weight: $global-weight-bold;
        line-height: 1.1;
        margin-bottom: 0.25rem;

        @include breakpoint(large) {
          margin-bottom: 0.5rem;
        }
      }

      &--date {
        color: $aqua-medium !important;
        font-size: 1.75 * $global-font-size !important;
      }

      &--title {
        @extend .header-small;
        font-weight: $global-weight-bold;
        line-height: 1.1;
        margin-bottom: 0.5rem;

        @include breakpoint(large) {
          margin-bottom: 0.5rem;
        }
      }
    }

    &--title {
      @include xy-grid;
      @include xy-cell;
      @extend .align-stretch;
      @extend .header;
      margin-bottom: 5 * $global-padding;

      span {
        @include xy-cell;
        color: $primary-color;
        min-height: rem-calc(30);
        text-align: center;

        @include breakpoint(large) {
          @include xy-cell(6);
        }

        &.spacer {
          background: url('../images/teal-bg_light-top.png') no-repeat center center;
          background-size: contain;

          &:last-of-type {
            background-image: url('../images/teal-bg_light-bottom.png');
          }

          @include breakpoint(large) {
            @include xy-cell(3);
            background-image: url('../images/teal-bg_top.png');

            &:last-of-type {
              background-image: url('../images/teal-bg_bottom.png');
            }
          }
        }
      }
    }

    &--wrapper {
      @include xy-grid;
      @include xy-cell;
      @extend .align-center;
    }
  }
  &--films {
    @include xy-grid;
    @extend .align-center;
    background: $aqua;

    h2 {
      @include xy-cell(10);
      @extend .header-white;
    }
    h3 {
      @include xy-cell(10);
      @extend .subheader-white;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
    }

    &--single {
      @include xy-cell(11);
      padding: 2rem 0;

      @include breakpoint(medium) {
        @include xy-cell(5);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(4);
      }

      a {
        color: $primary-color;
        display: flex;
        height: 12rem;
        margin: 0 auto;
        padding: 2rem;
        position: relative;
        width: 12rem;
        z-index: 1;

        &:after {
          background: $white;
          border-radius: 50%;
          content: '';
          height: 12rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 12rem;
          z-index: -1;
        }

        &:before {
          border: 3px solid $primary-color;
          border-radius: 50%;
          content: '';
          height: 12rem;
          left: 1.25rem;
          position: absolute;
          top: 0.5rem;
          width: 12rem;
          z-index: -1;
        }

        span {
          @extend .align-middle;
          display: flex;
          font-size: 1.65 * $global-font-size;
          font-weight: $global-weight-medium;
          height: 8rem;
          line-height: 1.1;
          text-align: center;
          width: 8rem;
        }
      }
    }
  }
  &--not-found {
    @include xy-grid;
    @extend .align-center;

    h2 {
      @include xy-cell(10);
      @extend .header;
      color: $primary-color;
    }

    ul {
      @include xy-cell(10);
      list-style: none;
    }

    li {
      @extend .subheader;
      color: $primary-color;
      margin: 0;
      padding: 1rem;
      position: relative;

      &:after {
        border-bottom: 1px solid $light-lighter-gray;
        bottom: 0;
        content: '';
        display: block;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        width: 5rem;
      }
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
      @extend .align-stretch;
    }
  }
  &--organizations {
    @include xy-grid;
    @extend .align-center;
    background: $red;
    position: relative;

    &:after,
    &:before {
      background: transparent no-repeat center center;
      background-size: contain;
      content: '';
      display: block;
      height: 60%;
      position: absolute;
      width: rem-calc(75);
    }
    &:after {
      background-image: url('../images/red-bg_down.png');
      left: 1.5rem;
      top: 1.5rem;
    }
    &:before {
      background-image: url('../images/red-bg_up.png');
      bottom: 1.5rem;
      right: 1.5rem;
    }

    h2 {
      @include xy-cell(10);
      @extend .header-white;
    }

    h3 {
      @include xy-cell(10);
      @extend .subheader-white;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
    }

    &--single {
      @include xy-cell(11);
      @extend .text-center;

      a {
        @extend .subheader-white;
        border-bottom: 1px solid $white;
        display: inline-block;
        line-height: 1.1;
        margin-bottom: 1.5rem;
      }
    }
  }
  &--podcasts {
    @include xy-grid;
    @extend .align-center;
    background: $green url('../images/green-bg_sprinkle.png') no-repeat center center;
    background-size: cover;

    h2 {
      @include xy-cell(10);
      @extend .header-white;
      margin-bottom: 2rem;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
    }

    &--single {
      @include xy-cell(11);
      a {
        background: $white;
        color: $aqua;
        display: block;
        font-size: 1.5 * $global-font-size;
        font-weight: $global-weight-bold;
        margin-bottom: 1rem;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
      }
    }
  }
  &--positions {
    .main-grid {
      @include xy-grid;
      @extend .align-center;
    }

    &--accordion {
      @include xy-cell(11);
      @extend .accordion;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
    }

    &--single {
      @extend .accordion-item;
      margin-bottom: 1rem;

      &-content {
        @extend .accordion-content;

        a {
          @include flex;
          @include flex-align(right, middle);
          @extend .text-uppercase;
          color: $green-medium;
          font-size: 1.25 * $global-font-size;
          font-weight: $global-weight-medium;
          letter-spacing: 1px;
          &:after {
            content: '\203A';
            font-size: 1.5rem;
            margin-left: 0.25rem;
          }
          &:hover {
            color: $green;
          }
        }
        h3 {
          @extend .subheader-white;
          @extend .text-uppercase;
          font-weight: $global-weight-medium;
          margin-bottom: 0;
          text-align: left !important;
        }
        p {
          line-height: 1.5;
        }
      }
      &-title {
        @extend .accordion-title;
        @extend .header-white;
        background: $aqua-medium;
        text-transform: capitalize;

        &:focus,
        &:hover {
          color: $white;
        }
      }

      &.is-active {
        .flexible--positions--single-title {
          background: $primary-color;
          text-align: left;
          &:after {
            border-bottom: 2px solid $aqua-medium;
            bottom: 2px;
            content: '';
            display: block;
            position: absolute;
            width: 75%;
          }
        }
      }
    }
  }
  &--staff {
    @include xy-grid;
    @extend .align-center;

    &--container {
      @include xy-grid;
      @include xy-cell(12);
      @extend .align-center;
    }

    &--single {
      @include xy-cell(12);
      padding-bottom: 1rem;
      padding-top: 1rem;

      @include breakpoint(medium) {
        @include xy-cell(5);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(3);
      }

      > a {
        &:hover {
          .flexible--staff--single-image {
            background-color: $aqua-medium;
            background-image: none !important;

            &--hover {
              display: block;
            }
          }
        }
      }

      &-content {
        @include xy-cell(12);

        h2 {
          line-height: 1.1;
          margin-bottom: 0.25rem;
        }
      }
      &-image {
        @include xy-cell(12);
        background: transparent no-repeat center center;
        background-size: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
        position: relative;

        &:after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }

        &--hover {
          @extend .text-uppercase;
          color: $primary-color;
          display: none;
          font-weight: $global-weight-bold;
          height: auto;
          left: 50%;
          line-height: 1.2;
          max-width: 60%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translate(-50%, -50%);
          &:before {
            background: url('../images/email.png') no-repeat center center;
            background-size: contain;
            content: '';
            display: inline-block;
            padding-bottom: 40px;
            width: 100%;
          }
        }
      }
    }

    h2 {
      @include xy-cell(12);
      @extend .subheader;
      @extend .text-center;
      @extend .text-uppercase;
      color: $primary-color;
      font-weight: $global-weight-bold;
    }
    h3 {
      @extend .subheader;
      @extend .text-center;
      color: $primary-color;
      font-size: 1rem;
    }
  }
}
