.footer {
  background: $primary-color;
  color: $white;

  &-container {
    @include xy-grid-container;
  }

  &-grid {
    @include xy-grid;
    @extend .align-middle;
    padding: rem-calc(30) 0;

    section {
      @include xy-cell();
      @include padding(1, null, 1, null);
      text-align: center;

      @include breakpoint(large){
        @include xy-cell(6);
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  &-social {
    li {
      display: inline-block;
      a {
        @include margin(.25, .25, .25, .25);
        background: $white;
        border-radius: 50%;
        display: block;
        height: rem-calc(32);
        line-height: rem-calc(42);
        text-align: center;
        transition: background-color 400ms;
        width: rem-calc(32);

        @include breakpoint(medium){
          @include margin(.25, .5, .25, .5);
          height: rem-calc(44);
          line-height: rem-calc(60);
          text-align: center;
          width: rem-calc(44);
        }

        svg {
          height: rem-calc(18);
          width: rem-calc(18);
          @include breakpoint(medium){
            height: rem-calc(24);
            width: rem-calc(24);
          }
        }

        &:hover {
          background: $light-lighter-gray;
          transition: background-color 300ms;
        }
      }
    }
  }

  &-subtitle {
    @extend .text-uppercase;
    color: $white;
    font-style: italic;
    font-weight: $global-weight-medium;
    letter-spacing: -1px;
    line-height: 1.1;

    .widget &{
      color: $secondary-color;
    }
  }

  &-title {
    @extend .text-uppercase;
    color: $white;
    font-weight: $global-weight-bold;
    letter-spacing: -1px;

    .widget &{
      color: $secondary-color;
    }
  }

  &-widget {
    a {
      @extend .h1;
      color: $white;
      display: block;
      font-weight: $global-weight-bold;
      margin-bottom: 1rem;
      transition: color 400ms;

      &:hover {
        color: $lighter-gray;
        text-decoration: none;
        transition: color 300ms;
      }
    }
  }
}
