.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu {
    .is-active {
      > a {
        background-color: transparent;
        color: $secondary-color;
      }
    }
  }
}

.mobile-menu {
  display: none;
}

.off-canvas {
  .menu {
    height: 100vh;
    padding: 1rem;
    a {
      color: $primary-color;
      font-weight: 600;
      font-size: rem-calc(15);
    }
    &.active {
      > a {
        background: transparent;
        color: $secondary-color;
      }
    }
  }

}

.post-navigation {
  @include xy-grid;
  @extend .align-center;

  .nav-links {
    @include xy-grid;
    @extend .align-center;
  }

  &--next,
  &--previous {
    a {
      @extend .button;
      @extend .button-large;
      @extend .button.orange;
      margin-bottom: 0;
    }
  }

  &--previous,
  .nav-previous {
    @include xy-cell;
    @extend .text-right;

    @include breakpoint(medium) {
      @include xy-cell(5);
    }
  }

  &--next,
  .nav-next {
    @include xy-cell;

    @include breakpoint(medium) {
      @include xy-cell(5);
    }
  }
}

.site-desktop-title {
  a {
    font-weight: bold;

    img {
      max-height: $topbar-brand-height;
    }
  }
}

.site-navigation {
  @extend .main-container;

  .top-bar-left,
  .desktop-menu {
    @include show-for(large);
    @include breakpoint(large) {
      &.menu {
        a {
          font-size: 1.25rem;

          &:hover:not(.button) {
            color: $secondary-color;
          }
        }
        .is-active {
          > a {
            background-color: transparent;
            color: $secondary-color;
          }
        }
        .menu-button {
          a {
            @include button;
            @include button-style($green-medium, darken($green, 10%), $white);
            border-radius: rem-calc(40);
            font-size: 1.25rem;
            margin-left: 1rem;

            @include breakpoint(xlarge) {
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }
  @include breakpoint(small only) {
    padding: 0;
  }
}

.top-bar {
  .top-bar-title {
    a {
      font-size: 1.125rem;
      color: $primary-color;
      padding-left: 1rem;
      line-height: 2;
    }
  }

  .menu {
    a {
      color: $primary-color;
      font-weight: $global-weight-medium;
      font-size: 1.125rem;
      line-height: 1;
      padding-top: 0;
      padding-bottom: 0;
      text-transform: uppercase;

      &:hover:not(.button) {
        color: $secondary-color;
      }
    }

    &.active {
      a {
        color: $secondary-color;
        background-color: transparent;
      }
    }
  }

  .menu {
    > li:not(.menu-text) {
      > a {
        padding: .75rem;

        @include breakpoint(xlarge) {
          padding: 1rem;
        }
      }
    }
  }

  .dropdown.menu {
    .has-submenu.is-down-arrow a {
      padding-right: 1rem;

      &:after {
        border: 0;
      }
    }
    .submenu {
      border: 0;
    }
    &:first-child {
      > li.is-dropdown-submenu-parent {
        > a {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.title-bar {
  .menu-icon {
    height: 24px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 24px;

    &:after {
      background: $secondary-color;
      box-shadow: 0 7px 0 $secondary-color, 0 14px 0 $secondary-color, 0 21px 0 $secondary-color;
    }

    &:hover {
      &:after {
        background: $primary-color;
        box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color, 0 21px 0 $primary-color;
      }
    }
  }

  &-title {
    a {
      font-size: 1rem;
      color: $medium-gray;
    }
  }
}
