$red: #dc6753;
$red-medium: #a74538;
$orange-dark: #f47231;
$orange: #f5ad2f;
$orange-medium: #f3ad30;
$green: #a8ce43;
$green-medium: #a1c53e;
$aqua: #61e0dc;
$aqua-medium: #54bdbc;
$blue: #23546c;
$blue-medium: #1c546d;
$blue-dark: #0d3746
