@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-bold-webfont.woff2') format('woff2'),
  url('../fonts/cera-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/cera-bolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-light-webfont.woff2') format('woff2'),
  url('../fonts/cera-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/cera-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-medium-webfont.woff2') format('woff2'),
  url('../fonts/cera-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/cera-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-regular-webfont.woff2') format('woff2'),
  url('../fonts/cera-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/cera-regularitalic-webfont.woff2') format('woff2'),
  url('../fonts/cera-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
